<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuitv.flutter_skyway">
    <!-- ネットワーク接続に必要なパーミッション  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- カメラ映像・マイク音声の取得に必要なパーミッション  -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
</manifest>
